In [1]:
pylist=[1,2,2,3,4,5,6,4]
print(pylist[1:4])

[2, 2, 3]

In [2]:
print(pylist[1:4:2])

[2, 3]

In [3]:
print(pylist[1:4:4])

[2]

In [4]:
print(pylist[1:4:5])

[2]

In [5]:
pylist=['python',1,2,3,['machine']]
print(pylist[1:4])

[1, 2, 3]

In [6]:
print(pylist[3][0])

TypeError: 'int' object is not subscriptable

In [7]:
print(pylist[3][-1])

TypeError: 'int' object is not subscriptable

In [8]:
print(pylist[1][0])

TypeError: 'int' object is not subscriptable

In [5]:
pylist=[['python'],1,2,3,['machine']]
print(pylist[0][0][0])

p

In [10]:
print(pylist[0][-2])

o

In [1]:
print(pylist[0][0][0])

NameError: name 'pylist' is not defined

In [20]:
print(pylist[0])

python

In [19]:
print(pylist[-1])

['machine']

In [1]:
PyList=["Big Data", "Hadoop", "Spark", "IoT"] 
#Start:Stop
print(PyList[1:3])
#Start:Stop:Step(Increment)
print(PyList[1:3:1])
#Start:Stop:Step(Increment)
print(PyList[1:4:2])#ALternate, Hadoop, IoT
#Start:Stop:Step(Increment)
print(PyList[1:4:3])#TwoElements, Hadoop
#Start:Stop:Step(decrement)
print(PyList[3:1:-1])#IoT, SPARK
#Start:Stop:Step(decrement)
print(PyList[3:1:-2])#IoT

['Hadoop', 'Spark']
['Hadoop', 'Spark']
['Hadoop', 'IoT']
['Hadoop']
['IoT', 'Spark']
['IoT']

In [1]:
PyList=[1,3,4,6,7,8,9]
print(PyList)
print(PyList[1:5])
print(PyList[1:5:1])
print(PyList[1:5:2])
print(PyList[1:5:3])
print(PyList[1:5:4])
print(PyList[5:1:-1])
print(PyList[5:1:-2])
print(PyList[5:1:-3])
print(PyList[6:0:-4])

[1, 3, 4, 6, 7, 8, 9]
[3, 4, 6, 7]
[3, 4, 6, 7]
[3, 6]
[3, 7]
[3]
[8, 7, 6, 4]
[8, 6]
[8, 4]
[9, 4]

In [2]:
PyList=[1,2,3,4,5,6,7,8,9,10]
print(PyList)
print(PyList[::1])
print(PyList[::2])
print(PyList[::3])
print(PyList[::4])
print(PyList[::-1])
print(PyList[::-2])
print(PyList[::-3])
print(PyList[::-4])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
[10, 6, 2]

In [3]:
PyList=[1,2,3,4,5,6,7,8,9,10]
print(PyList[1::5])
print(PyList[0::6])
print(PyList[5::9])
print(PyList[0::9])
print(PyList[6::11])

[2, 7]
[1, 7]
[6]
[1, 10]
[7]

In [7]:
PyStr="Malayalam"
if PyStr==PyStr[::-1]:
    print("Yes,This is Palindrome")
else:
    print("NO, This is not Palindrome")

NO, This is not Palindrome

In [10]:
alist = ['a', 'b', 'c']
alist.append(('d', 'e','f'))
print(alist)

['a', 'b', 'c', ('d', 'e', 'f')]

In [11]:
PyList=["BigData"]
print(PyList)
PyList.append(("ML","BC"))
print(PyList)
PyList.append({"AI"})
print(PyList)
PyList.append({1:"PYTHON"})
print(PyList)

['BigData']
['BigData', ('ML', 'BC')]
['BigData', ('ML', 'BC'), {'AI'}]
['BigData', ('ML', 'BC'), {'AI'}, {1: 'PYTHON'}]

In [13]:
alist = ['a', 'b', 'c']
alist.extend('d', 'e','f')
print(alist)

TypeError: extend() takes exactly one argument (3 given)

In [18]:
Countries = ["India", "Pakistan", "Sri Lanka"]
African_Countries = ["Egypt", "Kenya", "Namibia", "Zimbabwe"]
African_Countries.extend(Countries)
print(African_Countries)

['Egypt', 'Kenya', 'Namibia', 'Zimbabwe', 'India', 'Pakistan', 'Sri Lanka']

In [22]:
MyData = ['Big', 'Data', 'Hadoop', 'Spark']
MyData.insert(10000, 'RADATA')
print('Updated List: ', MyData)

Updated List:  ['Big', 'Data', 'Hadoop', 'Spark', 'RADATA']

In [26]:
Fruit_List = ["Apple", "Banana", "Cherry", "Jackfruit", "Grape"]
del Fruit_List[1]
print(Fruit_List)

['Apple', 'Cherry', 'Jackfruit', 'Grape']

In [34]:
py_list=[1,2,3,4]  
print(py_list)  
py_list.remove(2)  
print(py_list)

[1, 2, 3, 4]
[1, 3, 4]

In [1]:
PyList=[1,2,3,3,2,1,5,4]
print(PyList)
print(PyList.index(1))
print(PyList.index(3))
print(PyList.index(4))
print(PyList.index(3,3))
print(PyList.index(1,3))
print(PyList.index(2,4))
print(PyList.index(4,4,10))

[1, 2, 3, 3, 2, 1, 5, 4]
0
2
7
3
5
4
7

In [2]:
PyList=[1,2,3,1,4,5,2,5,6,1,4]
print(PyList)
print(PyList.index(2))
print(PyList.index(2,2))
print(PyList.index(1,2,7))
print(PyList.index(4,3,9))

[1, 2, 3, 1, 4, 5, 2, 5, 6, 1, 4]
1
6
3
4

In [18]:
pyList=["Data","ML","DL","Data","ML"]
print(pyList)#['Data','ML','DL','Data','ML']
print(pyList.index("ML"))
print(pyList.index("Data"))
print(pyList.index("Data",1))
print(pyList.index("ML",2,6))

['Data', 'ML', 'DL', 'Data', 'ML']
1
0
3
4

In [8]:
listy = list("HELLO WORLD")  
print(listy)  
index = listy.index("L")
print(index)  
index = listy.index("L", 4)   
print(index)  
index = listy.index("O", 3, 5) 
print(index)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
2
9
4

In [9]:
PyList=[1,2,3,1,2,3,3,3,1,2,33]
print(PyList.count(2))
print(PyList.count(3))
print(PyList.count(1))

3
4
3

In [30]:
PyList=['hello','hello','Hello','ml','ml','ML','ML','Data','Data','data','data']
print(PyList.count('hello'))
print(PyList.count('Hello'))
print(PyList.count('Data'))
print(PyList.count('data'))
print(PyList.count('ml'))
print(PyList.count('ML'))

2
1
2
2
2
2

In [40]:
PyList=['cc','b','aaa','eeee','ddddddd']
print(PyList)
PyList.sort(key=len)
print(PyList)
PyList.sort(reverse= False,key=len)
print(PyList)

['cc', 'b', 'aaa', 'eeee', 'ddddddd']
['b', 'cc', 'aaa', 'eeee', 'ddddddd']
['b', 'cc', 'aaa', 'eeee', 'ddddddd']

In [42]:
PyList=[[1,2],[2,4],[4,5],[3,1],[0,0]]
print(PyList)
PyList.sort()
print(PyList)

[[1, 2], [2, 4], [4, 5], [3, 1], [0, 0]]
[[0, 0], [1, 2], [2, 4], [3, 1], [4, 5]]

In [51]:
PyList=[1,2,3,1,2,3,3,3,1,2,33]
print(PyList)
PyList.append(333)
print(PyList)
PyList1=PyList.copy()
print(PyList1)
PyList1.extend('444')
print(PyList1)

[1, 2, 3, 1, 2, 3, 3, 3, 1, 2, 33]
[1, 2, 3, 1, 2, 3, 3, 3, 1, 2, 33, 333]
[1, 2, 3, 1, 2, 3, 3, 3, 1, 2, 33, 333]
[1, 2, 3, 1, 2, 3, 3, 3, 1, 2, 33, 333, '4', '4', '4']

In [11]:
#from collections import deque  
py_list = deque(["Big Data", "Hadoop", "Spark", "IoT"])  
py_list.append("DataScinece")      
#print(py_list)  
py_list.append("PYTHON")
py_list.extend(["ML"])
#print(py_list)  
py_list.popleft() #it removes from left to right.           
print(py_list)  
##by default it removes from right to left.        
#print(py_list)

deque(['Hadoop', 'Spark', 'IoT', 'DataScinece', 'PYTHON', 'ML'])

In [14]:
PyList1=["Data","BigData","Hadoop"]
print(PyList1)
PyList2=["BigData","Hadoop","Data"]
print(PyList2)
print(PyList1==PyList2)
PyList1.sort()
PyList2.sort()
print(PyList1==PyList2)

['Data', 'BigData', 'Hadoop']
['BigData', 'Hadoop', 'Data']
False
True

In [15]:
PyList=[]
for i in range(10):
    if i%2==1:
        PyList.append(i)
        print(PyList)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]

In [20]:
BigData=['Big Data', 'Hadoop', 'Spark','Data Science',1,2,3,('hello'),[1,2,3]]
eData = enumerate(BigData)
print(type(eData))
print(list(eData))

<class 'enumerate'>
[(0, 'Big Data'), (1, 'Hadoop'), (2, 'Spark'), (3, 'Data Science'), (4, 1), (5, 2), (6, 3), (7, 'hello'), (8, [1, 2, 3])]

In [21]:
bd = ['Big Data', 'Hadoop', 'Spark','Data Science']
for count, item in enumerate(bd):
      print(count, item)

0 Big Data
1 Hadoop
2 Spark
3 Data Science

In [23]:
bd = ['Big Data', 'Hadoop', 'Spark','Data Science']
for item in enumerate(bd, 100):
      print(item)

(100, 'Big Data')
(101, 'Hadoop')
(102, 'Spark')
(103, 'Data Science')

In [2]:
names = ['Bob', 'Alice', 'Guido']
print(list(enumerate(names)))
print(len(names))

[(0, 'Bob'), (1, 'Alice'), (2, 'Guido')]
3

In [28]:
print(max('a','b','c','d','E','1','2','3'))

d

In [1]:
A=[1]*2
print(A)
B=[[1]*2]*5
print(B)
C=[[2,0]*1]*4
print(C)

[1, 1]
[[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]]
[[2, 0], [2, 0], [2, 0], [2, 0]]

In [13]:
x=15
y=12
print(x & y)

12

In [14]:
bin(0x8)

'0b1000'

In [5]:
hex(0x35)

'0x35'

In [6]:
a=0x35 
b=0x75
print(a|b)

117

In [15]:
bin(-46)

'-0b101110'

In [11]:
a=10
b=20
a=a^b
b=a^b
a=a^b
print(a,b)

20 10

In [16]:
~100

-101

In [17]:
l=[1,0,2,0,'hello'," ",[]]
list(filter(bool,1))

TypeError: 'int' object is not iterable

In [18]:
not(10<20) and not(10>30)

False

In [20]:

bool()

False

In [22]:
['a','b'][bool('')]

'a'

In [1]:
a=[[1]*2]*5
print(a)

[[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]]

In [2]:
b=[[2,0]*1]*4
print(b)

[[2, 0], [2, 0], [2, 0], [2, 0]]

In [5]:
a=[2]*3
print(a)

[2, 2, 2]

In [9]:
b=[[2]*3]*2
print(b)

[[2, 2, 2], [2, 2, 2]]

In [11]:
c=[[1,0]*1]*5
print(c)

[[1, 0], [1, 0], [1, 0], [1, 0], [1, 0]]

In [12]:
a=[5]*4
print(a)

[5, 5, 5, 5]

In [13]:
a=[1,2,3,4,5]
print(a[0]*2)
print(a*2)
print(a[3]*3)
print(a[4]*1)
print(a*3)

2
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
12
5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [58]:
a=[1,[2,[3,[4,[5]]]]]
print(a[-1][-2])

2

In [1]:
result=[x**2 for x in [3,4,5]]
print(result)

[9, 16, 25]

In [2]:
print([x**2 for x in [1,2,3,4] if x%2==0])
print([x**2 for x in [1,2,3,4] if x%2!=0])

[4, 16]
[1, 9]

In [3]:
print([x for x  in "Hello12345" if x.isdigit()])

['1', '2', '3', '4', '5']

In [4]:
print([x for x  in "Hello12345" if x.isalpha()])

['H', 'e', 'l', 'l', 'o']

In [5]:
words=['Hello',"Hai",'python']
result=[x.upper() for x in words]
print(result)

['HELLO', 'HAI', 'PYTHON']

In [6]:
Sample_List = ["Sample", "List"]
Result = [item[0] for item in Sample_List]
print(Result)

['S', 'L']

In [7]:
a=[1,2,3,4,5,6]
b=[2,3]
result=[x+y for x in a for y in b]
print(result )

[3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9]

In [8]:
myList=[1,2,3,4,5,6]
print(myList)
yourList=myList
print(yourList)
myList[0]="NareshIT"
print(myList)
print(yourList)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
['NareshIT', 2, 3, 4, 5, 6]
['NareshIT', 2, 3, 4, 5, 6]

In [1]:
import copy
myList=[1,2,3,4,5,6]
print(myList)
yourList=myList
print(yourList)
myList=copy.copy(yourList)
myList[4]="PYTHON"
print(myList)
print(yourList)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 'PYTHON', 6]
[1, 2, 3, 4, 5, 6]

In [2]:
import copy
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)
old_list.append([4, 4, 4])
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [1]:
PyList1=["Hadoop","Spark","PYTHON","DataScience"]
PyList2=["Bigdata","Teradata","Pandas","SKLearn"]
z1=zip(PyList1,PyList2)
print(list(z1))

[('Hadoop', 'Bigdata'), ('Spark', 'Teradata'), ('PYTHON', 'Pandas'), ('DataScience', 'SKLearn')]

In [2]:
Pylist1=[1,2]
Pylist2=[2,3]
ziplist=zip(Pylist1,Pylist2)
ziptuple=zip(Pylist1,Pylist2)
zipset=zip(Pylist1,Pylist2)
zipdict=zip(Pylist1,Pylist2)
print(list(ziplist))
print(tuple(ziptuple))
print(set(zipset))
print(dict(zipdict))

[(1, 2), (2, 3)]
((1, 2), (2, 3))
{(2, 3), (1, 2)}
{1: 2, 2: 3}

In [3]:
PyList1=["Hadoop","Spark","PYTHON","DataScience"]
PyList2=["Bigdata","Teradata","Pandas","SKLearn"]
for l1,l2 in zip(PyList1,PyList2):
    print(l1,l2)

Hadoop Bigdata
Spark Teradata
PYTHON Pandas
DataScience SKLearn

In [7]:
PyList1=[10,20,30,40]
PyList2=[50,60,70,80]
for a,b in zip(PyList1,PyList2):
    print('{} + {}={}'.format(a,b,a+b))

10 + 50=60
20 + 60=80
30 + 70=100
40 + 80=120

In [11]:
PyList1=["Hadoop","Spark","PYTHON","DataScience"]
PyList2=["Bigdata","Teradata","Pandas","SKLearn"]
z1=zip(PyList1,PyList2)
z2=zip(*z1)
print(*z2)

('Hadoop', 'Spark', 'PYTHON', 'DataScience') ('Bigdata', 'Teradata', 'Pandas', 'SKLearn')

In [1]:
Numbers=[1,2,3,4,1,2,3,4,5]
UniqueNumbers=set(Numbers)
print(UniqueNumbers)

{1, 2, 3, 4, 5}

In [2]:
NumSet = set([0, 1, 2, 3, 4, 5])  
for n in NumSet:  
  print(n)

0
1
2
3
4
5

In [7]:
PySet={2}
#print(PySet)
PySet.add(1)
print(PySet)

{1, 2}

In [8]:
PySet={1}
print(PySet)#{1}
PySet.clear()
print(PySet)#set()

{1}
set()

In [9]:
DataSet=set() 
DataSet.update(["Data Science", "Big Data"])  
print(DataSet)

{'Data Science', 'Big Data'}

In [12]:
A={10,20,30}; B={40,50,60,10}
B.update(A,range(5))
print(B)

{0, 1, 2, 3, 4, 10, 20, 30, 40, 50, 60}

In [13]:
A ={'a', 'b', 'c', 'd'}
print('Return Value is', A.pop())
print(A)

Return Value is a
{'d', 'b', 'c'}

In [15]:
A ={'a', 'b', 'c', 'd','e','f','g'}
print('Return Value is', A.pop())
print(A)

Return Value is g
{'d', 'f', 'c', 'a', 'e', 'b'}

In [33]:
NumSet = {0, 1, 2, 3, 4, 5}  
a= NumSet.pop()  
print(a) 

#NumSet.pop()  
print(NumSet)

0
{1, 2, 3, 4, 5}

In [23]:
NumSet = set([1, 2, 3, 4, 5])  
NumSet.remove(1)  
print(NumSet)

{2, 3, 4, 5}

In [28]:
NumSet = {0, 1, 2, 3, 4, 5}  
NumSet.discard(3)  
print(NumSet)

{0, 1, 2, 4, 5}

In [27]:
PyNums=set({2, 3, 4, 5})
PyNums.discard(3)
print(PyNums)
PyNums.discard(10)
print(PyNums)

{2, 4, 5}
{2, 4, 5}

In [29]:
Colour = {"Black", "Blue", "Red", "Green", "Orange", "Violet"}
Colour.remove("Blue")
Colour.discard("Green")
print(Colour)
x = Colour.pop()
print(x)
print(Colour)

{'Violet', 'Orange', 'Black', 'Red'}
Violet
{'Orange', 'Black', 'Red'}

In [34]:
x = {"a","b","c","d","e"}
y = {"c","d","e","f","g"}
print(x.intersection(y))
print(x & y)

{'d', 'c', 'e'}
{'d', 'c', 'e'}

In [36]:
A = {1, 2, 3, 4}
B = {1,2, 3, 4, 5}
A.intersection_update(B)
print(A)
print(B)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [37]:
PySetx=set(["Big Data", "Data Science"])  
PySety=set(["Data Science", "Spark"])  
PySeta = PySetx |PySety  #Union
print (PySeta)

{'Data Science', 'Big Data', 'Spark'}

In [38]:
MultArr = [[1,2], [3,4], [5,6], [7,8]]
print(MultArr[0])
print(MultArr[3])
print(MultArr[2][1])
print(MultArr[3][0])

[1, 2]
[7, 8]
6
7

In [39]:
PyArr=[['Roy',80,75,85,90,95],
     ['John',75,80,75,85,100],
     ['Dave',80,80,80,90,95]]
print(PyArr[0])
print(PyArr[0][1])
print(PyArr[1][2])
print(PyArr[2][2])

['Roy', 80, 75, 85, 90, 95]
80
80
80

In [3]:
import array as arr
a=arr.array('d',[1.1 , 2.1 ,3.1,2.6,7.8])  
b=arr.array('d',[3.7,8.6])  
c=arr.array('d')  
c=a+b  
print("Array c = ",c)

Array c =  array('d', [1.1, 2.1, 3.1, 2.6, 7.8, 3.7, 8.6])

In [6]:
A = 3, 4.6, "Data Science",(1,2,3),[1]
print(type(A))#<class 'tuple'>
print(A)#(3, 4.6, 'Data Science')
#Tuple Unpacking is also possible
a, b, c,d,e = A
print(a);print(b);print(c);print(e)

<class 'tuple'>
(3, 4.6, 'Data Science', (1, 2, 3), [1])
3
4.6
Data Science
[1]

In [8]:
MyTuple=('a',[1,2])
print(type(MyTuple))
print(MyTuple[0])
print(MyTuple[1])
print(MyTuple[1][1])
MyTuple[1][1]=4
print(MyTuple)

<class 'tuple'>
a
[1, 2]
2
('a', [1, 4])

In [10]:
PyTuple=(1,2,3,5,[4,5])
print(type(PyTuple))#<class 'tuple'>
print(1 in PyTuple)
print(10 not in PyTuple)
print(5 in PyTuple)

<class 'tuple'>
True
True
True

In [11]:
for name in ('KSRaju','Dinesh',"NareshIT"):
     print("Hai",name)

Hai KSRaju
Hai Dinesh
Hai NareshIT

In [12]:
PyTuple = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)   
print(PyTuple[3:5])
print(PyTuple[:6])
print(PyTuple[5:])
print(PyTuple[:])
print(PyTuple[-8:-4])

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)

In [13]:
PyTuple = tuple("DATA SCIENCE")   
print(PyTuple)
print(PyTuple[2:9:2])
print(PyTuple[::4])
print(PyTuple[9:2:-3])

('D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E')
('T', ' ', 'C', 'E')
('D', ' ', 'E')
('N', 'C', 'A')

In [14]:
PyTuple1=(3, 6, 9, 12, 15)   
PyTuple2=("P", "Y", "T", "H", "O", "N")  
PyTuple3=(True, False)  
PyTuple4=PyTuple1+PyTuple2+PyTuple3  
print(PyTuple4)
#Repetation * Operator
PyTuple5=5,
print(PyTuple5*6)

(3, 6, 9, 12, 15, 'P', 'Y', 'T', 'H', 'O', 'N', True, False)
(5, 5, 5, 5, 5, 5)

In [15]:
PyTuple=tuple("index tuple")   
print(PyTuple)
print(PyTuple.index("p"))
print(PyTuple.index("e", 5))
print(PyTuple.index("e", 3, 6))

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')
8
10
3

In [20]:
a = (4, 6, 2, 8, 3, 1)   
print(a)  
a = a + (9,2,3,4,)  
print(a)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9, 2, 3, 4)

In [22]:
tuplez = (4, 6, 2, 8, 3, 1)   
print(tuplez)  
listx = list(tuplez)
print(listx)
listx.append(30)  
tuplez = tuple(listx)  
print(tuplez)

(4, 6, 2, 8, 3, 1)
[4, 6, 2, 8, 3, 1]
(4, 6, 2, 8, 3, 1, 30)

In [23]:
PyTuple=(1,2,3,4)
PyTuple.append((5,6,7))
print(len(PyTuple))

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
pyList = ['e', 'a', 'u', 'o', 'i']
print(sorted(pyList))

['a', 'e', 'i', 'o', 'u']

In [25]:
pyString = 'Python'
print(sorted(pyString))

['P', 'h', 'n', 'o', 't', 'y']

In [26]:
pyTuple = ('e', 'a', 'u', 'o', 'i')
print(sorted(pyTuple,reverse=True))

['u', 'o', 'i', 'e', 'a']

In [27]:
numbers = [2.5, 3, 4, -5]
numbers = sum(numbers)
print("Sum of Numbers is: " ,numbers)

Sum of Numbers is:  4.5

In [1]:
PyTuple=( x**2 for x in range(1,6))
print(type(PyTuple))
for x in PyTuple:
    print(x)

<class 'generator'>
1
4
9
16
25