In [6]:
x=10
while x<=15:
    print(x)
    x=x+1
else:
    print(x)

10
11
12
13
14
15
16

In [11]:
x=6
while x>=0:
    print(x)
    x-=3
else:
    print(x)

6
3
0
-3

In [15]:
x=10
while x>0:
    print("the value of x is",x)
    x=x-2
else:
    print("completed")

the value of x is 10
the value of x is 8
the value of x is 6
the value of x is 4
the value of x is 2
completed

In [2]:
pattern=int(input("enter no. of rows:"))
for i in range(pattern,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

enter no. of rows:6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:

pattern=int(input("Enter Number of rows: "))
for i in range(pattern,0,-1):
    for j in range(0,i):
        print(j,end=" ")
    print()

Enter Number of rows: 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [18]:
pattern=int(input("entr no."))
for i in range(1,pattern):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

entr no.6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
pattern=int(input("Enter Number of rows: "))
for i in range(0,pattern):
    for j in range(0,pattern-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter Number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
pattern=int(input("Enter Number of rows: "))
for i in range(pattern,0,-1):
    for j in range(0,pattern-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter Number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [37]:
for letter in 'Python': 
    if letter == 'h':
        
        pass
    
        print( 'This is pass block')
    
    print( 'Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n

In [42]:
x=1
while(x<=3):
    if(x==1):
        print("1.python is scripting")
    elif(x==2):
        pass
        print("2. this is a pss block")
    else:
        print("3.it is fun to learn")
    x+=1

1.python is scripting
2. this is a pss block
3.it is fun to learn